<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
	<link rel="shortcut icon"  href="favicon.ico">
    
</head>
<body>
    <div class="wrapper">

    </div>  
    



    <div class="window-modal mfp-hide white-popup-block" id="window-modal-id">
        <form>
            <div class="oplet-form">
                <div class="logo-form"><img src="img/logo.svg" alt=""></div>
                <h2>Обратный звонок</h2>
            </div>
             <div class="flex-form">
                    <input type="text" id="name" name="name" placeholder="Ваше имя" >
                    <input type="text" name="phone" placeholder="Ваш телефон" >
                    <div class="btn result"><button id="modal-button">Отправить</button></div>
            </div>
            <p class="persd-sogl black-pd">Нажимая кнопку «Отправить» вы соглашаетесь с <a class="soglasie" target="_blank" href="soglasie.html">Пользовательским соглашением</a>  и <a href="persdata.html" target="_blank">Положением о Персональных данных</a>
            </p>
        </form>
    </div>


    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>